 body {
        background-image: url('Background gif.gif');
        background-size: 3000px 4600px;
        background-color: 'sandybrown';
        font-family: 'Franklin Gothic';
        font-size: 20px;
    }
